{{!--
                                --}}{{#if (hlp_headlineSize hsize offset defaultHsize)}}
<h{{hlp_headlineSize hsize offset defaultHsize}}{{!--
                                --}}{{else}}
<p{{!--
                                --}}{{/if}}{{!--


                                --}}{{#if vsize}}{{!--
--}} {{{hlp_attributes this test1="bla" class=(hlp_concat class "headline" (hlp_addParamValues "font-h" vsize "-style") )}}}{{!--
                                --}}{{else}}{{!--
--}} {{{hlp_attributes this test1="bla"}}}{{!--
                                --}}{{/if}}{{!--

--}}>
{{> tmpl_partialBlock}}{{!--


                                --}}{{#if (hlp_headlineSize hsize offset defaultHsize)}}{{!--
--}}</h{{hlp_headlineSize hsize offset defaultHsize}}>{{!--
                                --}}{{else}}{{!--
--}}</p>{{!--
                                --}}{{/if}}
